
body{
    background-color: rgb(224, 98, 172);
    font-style: italic;
}




.box{
    background-color: rgb(200, 240, 234);
    background-color: body;
    border-color: rgb(183, 93, 224);
    border: solid;
    border-width: 1px;
    margin-top: 6px;
    margin-left: 15px;
    margin-right: 4%;
    margin-bottom: 6%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 6%;
}
/* normal state */
.button{
    background-color: blueviolet;
    color: darkgrey;
    padding: 10px 20px;
}
section{
    background-color: brown;
}
